body {
    font-family: sans-serif;
	background: #ddd5e2;
}

.container-column {
	display: flex;
	flex-direction: column;
	margin: 10px auto;	
}

.input-container {
	display: flex;
	margin: 0.2em;
}

.container {
	display: flex;
	justify-content:  center;
}

label {
	color: #326691;
	flex-grow: 1;
}

input,button{
	padding: 0.2em;
	border: 0.1em solid black;
	border-radius: 0.3em;
}

progress {
	width: 250px;
	height: 14px;
	margin: 10px auto;	
}

#resultsTable{
	margin: 10px auto;	
	border: 1px solid black;
	border-radius: 5px;
}

#resultsTable, #resultsTable  th, #resultsTable td{
	border: 0.1em solid;
	border-collapse: collapse;
}

#resultsTable th {
	background-color: black;
	color: white;
	border: 1px solid black;
}

#resultsTable tfoot td {
    background-color: white;
	border: 1px solid white;
}

#resultsTable td, th {
    padding: 0.2em;
}

#resultsTable tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 250);
}

#resultsTable tbody tr:nth-child(even) {
    background-color: rgb(220, 220, 230);
}

#resultsTable tbody tr:hover {
    background-color: rgba(119, 255, 149, 0.15);
}